extends layout

block content
  .w3-container
    h1= title
    h2= nome
    p
      strong NIPC:
      span= nipc

    h3 Contratos Associados
    if lcontratos && lcontratos.length > 0
      p
        strong Valor Total dos Contratos:
        span= total + " €"

      table.w3-table.w3-hoverable
        thead
          tr.w3-light-grey
            th ID Contrato
            th Objecto
            th Data Celebração
            th Preço Contratual (€)
        tbody
          each contrato in lcontratos
            tr
              td
                a(href=`/${contrato.idcontrato}`)= contrato._id
              td= contrato.objectoContrato
              td= contrato.dataCelebracaoContrato
              td= parseFloat(contrato.precoContratual).toFixed(2)
    else
      p Não foram encontrados contratos para esta entidade.

    p
      a.w3-button.w3-blue(href='/') Voltar à Lista Principal